<a href="https://colab.research.google.com/github/bmreiniger/datascience.stackexchange/blob/master/CV423485.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.datasets import load_iris
from sklearn.neighbors import KDTree, KNeighborsClassifier

In [0]:
iris = load_iris()

In [32]:
iris.data[:10,]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

In [36]:
import pandas as pd
pd.DataFrame(iris.data).describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [0]:
kdt = KDTree(iris.data, leaf_size=30)

In [13]:
list(kdt.node_data)

[{'idx_end': 150, 'idx_start': 0, 'is_leaf': 0, 'radius': 3.85},
 {'idx_end': 75, 'idx_start': 0, 'is_leaf': 0, 'radius': 2.3989581071790314},
 {'idx_end': 150, 'idx_start': 75, 'is_leaf': 0, 'radius': 2.207940216581962},
 {'idx_end': 37, 'idx_start': 0, 'is_leaf': 1, 'radius': 1.3228756555322954},
 {'idx_end': 75, 'idx_start': 37, 'is_leaf': 1, 'radius': 1.9672315572906},
 {'idx_end': 112, 'idx_start': 75, 'is_leaf': 1, 'radius': 1.408900280360537},
 {'idx_end': 150,
  'idx_start': 112,
  'is_leaf': 1,
  'radius': 1.7051392904979932}]

Above, we see the tree structure: a full binary tree of depth 2.

Below, we can get more information about the datapoints in these balls.  The first array is the original dataset, so I won't print it.

In [34]:
print((kdt.get_arrays()[0] == iris.data).all())
kdt.get_arrays()[1:]

True

(array([  2,  13,  14,  16,  22,  35,  36,  38,  40,  41,  42,  49,  12,
          1,   0,  15,   3,  17,  19,  21,   4,  27,  28,  31,  32,  33,
         34,   6,  37,   7,  39,   8,   9,  10,  45,  47,  48,  11,  29,
         30,  23,  24,  25,  43,  44,  26,  46,   5,  18,  20,  98,  57,
         59,  60,  62,  64,  69,  71,  79,  80,  81,  82,  89,  92,  93,
         53,  67,  88,  99,  96,  94,  95,  61,  97,  74,  90, 106,  55,
         73,  91,  63,  78,  66,  84,  85, 138,  70, 121, 127, 113, 119,
        149, 114, 101, 134,  83, 142, 148, 126,  68,  72,  87, 146,  56,
        100, 103, 133, 136, 123, 111, 115,  51, 128, 132, 137, 147, 116,
         54, 104, 110,  58,  75, 108,  52, 124, 125,  65, 105, 112, 129,
        130, 131,  77,  50,  76, 135,  86, 117, 118, 139, 140, 141, 109,
        143, 144, 145, 107, 120, 102, 122]),
 array([(  0, 150, 0, 3.85      ), (  0,  75, 0, 2.39895811),
        ( 75, 150, 0, 2.20794022), (  0,  37, 1, 1.32287566),
        ( 37,  75, 1, 1.96723156), ( 75, 112, 1, 1.40890028),
        (112, 150, 1, 1.70513929)],
       dtype=[('idx_start', '<i8'), ('idx_end', '<i8'), ('is_leaf', '<i8'), ('radius', '<f8')]),
 array([[[4.3, 2. , 1. , 0.1],
         [4.3, 2. , 1. , 0.1],
         [4.9, 2.2, 4.4, 1.2],
         [4.3, 2.3, 1. , 0.1],
         [4.7, 2. , 1.6, 0.2],
         [4.9, 2.2, 4.4, 1.2],
         [6.4, 2.5, 4.4, 1.3]],

        [[7.9, 4.4, 6.9, 2.5],
         [6.4, 4.4, 4.3, 1.5],
         [7.9, 3.8, 6.9, 2.5],
         [5.8, 4.4, 1.5, 0.4],
         [6.4, 3.9, 4.3, 1.5],
         [6.4, 3.4, 6. , 2.5],
         [7.9, 3.8, 6.9, 2.5]]]))

The first array above seems to be just bookkeeping the sample indices, so that the tree's `node_data` "idx_start" and "idx_end" can be contiguous.

The second array is the basis for `node_data`.

The third array has shape (2,7,4); I _think_ that's the min/max (2) of each of the 4 features in each of the 7 kdtree nodes?

Finally, check that calling `KNeighborsClassifier` produces the same tree:

In [16]:
knn = KNeighborsClassifier()
knn.fit(iris.data, iris.target)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [21]:
list(knn._tree.node_data)

[{'idx_end': 150, 'idx_start': 0, 'is_leaf': 0, 'radius': 3.85},
 {'idx_end': 75, 'idx_start': 0, 'is_leaf': 0, 'radius': 2.3989581071790314},
 {'idx_end': 150, 'idx_start': 75, 'is_leaf': 0, 'radius': 2.207940216581962},
 {'idx_end': 37, 'idx_start': 0, 'is_leaf': 1, 'radius': 1.3228756555322954},
 {'idx_end': 75, 'idx_start': 37, 'is_leaf': 1, 'radius': 1.9672315572906},
 {'idx_end': 112, 'idx_start': 75, 'is_leaf': 1, 'radius': 1.408900280360537},
 {'idx_end': 150,
  'idx_start': 112,
  'is_leaf': 1,
  'radius': 1.7051392904979932}]