<a href="https://colab.research.google.com/github/bmreiniger/datascience.stackexchange/blob/master/GridSearchNoCV_oob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.model_selection import GridSearchCV, PredefinedSplit
from sklearn.ensemble import RandomForestClassifier 
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

In [0]:
def oob_scorer(estimator, X, y):
    return estimator.oob_score_

X, y = load_iris(return_X_y=True)
y = np.abs(y-1)  # convert classes 0,1,2 to 1,0,1; I dunno, binary is nice

In [3]:
cv = PredefinedSplit([-1]*(X.shape[0]-1) + [0])
for (train, test) in cv.split(X,y):
  print(len(train), len(test))

149 1

In [0]:
forest = RandomForestClassifier(n_estimators = 100,
                                oob_score = True,
                                random_state=42)

model = GridSearchCV(estimator=forest,
                     param_grid={'max_depth': [1,2,3], 'max_features': ['sqrt', 0.1, 0.2]},
                     scoring=oob_scorer,
                     cv=cv
                     )

In [5]:
model.fit(X,y)

GridSearchCV(cv=PredefinedSplit(test_fold=array([-1, -1, ..., -1,  0])),
             error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=True, random_state=42,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [1, 2, 3],
                         'max_features': ['sqrt', 0.1, 0.2]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=<function oob_scorer at 0x7f4047750950>, verbose=0)

In [6]:
pd.DataFrame(model.cv_results_)

   mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0       0.159788           0.0  ...             0.0                7
1       0.153390           0.0  ...             0.0                8
2       0.159883           0.0  ...             0.0                8
3       0.160783           0.0  ...             0.0                2
4       0.156549           0.0  ...             0.0                5
5       0.155305           0.0  ...             0.0                5
6       0.154934           0.0  ...             0.0                1
7       0.151243           0.0  ...             0.0                2
8       0.149167           0.0  ...             0.0                2

[9 rows x 11 columns]

In [7]:
forest.set_params(**{'max_depth': 3, 'max_features': 0.2})
forest.fit(X[:-1,:], y[:-1])
forest.oob_score_

0.9395973154362416