<a href="https://colab.research.google.com/github/bmreiniger/datascience.stackexchange/blob/master/trees_L1_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

57206, 57255, CV.SE418687

In [0]:
import xgboost as xgb
import pandas as pd
import numpy as np
from sklearn.datasets import load_wine

In [0]:
wine = load_wine()

In [0]:
y = wine['target']==0

In [0]:
X = wine['data']

In [10]:
# No regularization (gets to a full tree):
model = xgb.train(params={'n_estimators': 1,
                          'max_depth': 3,
                          'reg_lambda': 0},
                  num_boost_round=1,
                  dtrain=xgb.DMatrix(X,y))
model.trees_to_dataframe()

    Tree  Node    ID Feature    Split   Yes    No Missing       Gain  Cover
0      0     0   0-0     f12  755.000   0-1   0-2     0-1  28.972393  178.0
1      0     1   0-1      f2    2.865   0-3   0-4     0-3   0.306559  111.0
2      0     2   0-2      f6    2.300   0-5   0-6     0-5   6.625007   67.0
3      0     3   0-3      f6    2.605   0-7   0-8     0-7   0.067663  108.0
4      0     4   0-4      f0   12.500   0-9  0-10     0-9   0.666667    3.0
5      0     5   0-5      f2    2.145  0-11  0-12    0-11   0.900000   10.0
6      0     6   0-6      f3   27.500  0-13  0-14    0-13   0.982456   57.0
7      0     7   0-7    Leaf      NaN   NaN   NaN     NaN  -0.150000   95.0
8      0     8   0-8    Leaf      NaN   NaN   NaN     NaN  -0.126923   13.0
9      0     9   0-9    Leaf      NaN   NaN   NaN     NaN  -0.150000    2.0
10     0    10  0-10    Leaf      NaN   NaN   NaN     NaN   0.150000    1.0
11     0    11  0-11    Leaf      NaN   NaN   NaN     NaN   0.150000    1.0
12     0    12  0-12    Leaf      NaN   NaN   NaN     NaN  -0.150000    9.0
13     0    13  0-13    Leaf      NaN   NaN   NaN     NaN   0.150000   56.0
14     0    14  0-14    Leaf      NaN   NaN   NaN     NaN  -0.150000    1.0

In [6]:
# (huge) L1 penalty
model = xgb.train(params={'n_estimators': 1,
                          'max_depth': 3,
                          'reg_alpha': 1000},
                  num_boost_round=1,
                  dtrain=xgb.DMatrix(X,y))
model.trees_to_dataframe()

   Tree  Node   ID Feature  Split  Yes  No  Missing  Gain  Cover
0     0     0  0-0    Leaf    NaN  NaN NaN      NaN  -0.0  178.0

In [7]:
# (huge) L2 penalty
model = xgb.train(params={'n_estimators': 1,
                          'max_depth': 3,
                          'reg_lambda': 1000},
                  num_boost_round=1,
                  dtrain=xgb.DMatrix(X,y))
model.trees_to_dataframe()

   Tree  Node   ID Feature    Split  Yes   No Missing      Gain  Cover
0     0     0  0-0     f12  755.000  0-1  0-2     0-1  2.329849  178.0
1     0     1  0-1    Leaf      NaN  NaN  NaN     NaN -0.014446  111.0
2     0     2  0-2      f6    2.300  0-3  0-4     0-3  0.213737   67.0
3     0     3  0-3      f2    2.145  0-5  0-6     0-5  0.004478   10.0
4     0     4  0-4      f3   27.500  0-7  0-8     0-7  0.027206   57.0
5     0     5  0-5    Leaf      NaN  NaN  NaN     NaN  0.000150    1.0
6     0     6  0-6    Leaf      NaN  NaN  NaN     NaN -0.001338    9.0
7     0     7  0-7    Leaf      NaN  NaN  NaN     NaN  0.007955   56.0
8     0     8  0-8    Leaf      NaN  NaN  NaN     NaN -0.000150    1.0

In [8]:
# (huge) leaf penalty
model = xgb.train(params={'n_estimators': 1,
                          'max_depth': 3,
                          'gamma': 1000},
                  num_boost_round=1,
                  dtrain=xgb.DMatrix(X,y))
model.trees_to_dataframe()

   Tree  Node   ID Feature  Split  Yes  No  Missing      Gain  Cover
0     0     0  0-0    Leaf    NaN  NaN NaN      NaN -0.050279  178.0

In [9]:
# default penalties (gets nearly to a full tree; just Leaf 3 doesn't split)
model = xgb.train(params={'n_estimators': 1,
                          'max_depth': 3},
                  num_boost_round=1,
                  dtrain=xgb.DMatrix(X,y))
model.trees_to_dataframe()

    Tree  Node    ID Feature    Split   Yes    No Missing       Gain  Cover
0      0     0   0-0     f12  755.000   0-1   0-2     0-1  28.649195  178.0
1      0     1   0-1      f2    2.865   0-3   0-4     0-3   0.277338  111.0
2      0     2   0-2      f6    2.300   0-5   0-6     0-5   6.372016   67.0
3      0     3   0-3    Leaf      NaN   NaN   NaN     NaN  -0.145872  108.0
4      0     4   0-4      f0   12.500   0-7   0-8     0-7   0.395833    3.0
5      0     5   0-5      f2    2.145   0-9  0-10     0-9   0.695455   10.0
6      0     6   0-6      f3   27.500  0-11  0-12    0-11   0.840592   57.0
7      0     7   0-7    Leaf      NaN   NaN   NaN     NaN  -0.100000    2.0
8      0     8   0-8    Leaf      NaN   NaN   NaN     NaN   0.075000    1.0
9      0     9   0-9    Leaf      NaN   NaN   NaN     NaN   0.075000    1.0
10     0    10  0-10    Leaf      NaN   NaN   NaN     NaN  -0.135000    9.0
11     0    11  0-11    Leaf      NaN   NaN   NaN     NaN   0.147368   56.0
12     0    12  0-12    Leaf      NaN   NaN   NaN     NaN  -0.075000    1.0